:root {
  --onevh: 1vh;
  --oneunit: 1vh;
  --npad: var(--oneunit);
  --nmar: var(--oneunit);
  --nbord: 1px;
  --iconh: calc(var(--oneunit) * 12);
  --bg:white;
  --fg:black;
  --mg:gray;
}

html, body {
  background-color: var(--bg);
  color: var(--fg);
  min-height: -webkit-fill-available;
  box-sizing: border-box;
}

#map { height: 40vh; width: 40vw; }

.observation-icon {
  max-width: 10vw; max-height: 10vh;
  margin: auto; padding: 1ch;
}

.centered {
  /*width: 100%; height: 100%;*/
  display: flex;
  align-items: center; justify-content: center;
}

.padded {
  padding: 1ch;
}

#results {
  display: flex; flex-wrap: wrap; align-items: center;
  justify-content: space-evenly;
}

#findermap {
  width: 50%;
  min-width: 500px;
  height: 25vh;
  flex: 1 0 500px;
}

#searchParams {
  width: 50%;
  min-width: 500px;
  display: flex; flex-wrap: wrap;
  align-content: start;
  flex: 1 0 500px;
}

textarea, input, div { font-size: 1rem; }
textarea, input { background-color: var(--bg); color: var(--fg); border-color: transparent; }

.inputrangewrapper {
  height: 2vh;
  background-color: var(--fg);
  width: 100%;
}

.inputrange {
  position: relative;
  width: calc(100% - 3vh);
  height: 100%;
}

.inputthumb {
  position: absolute;
  background-color: var(--bg);
  height: calc(2vh - 2px);
  border: var(--nbord) solid var(--fg);
  width: 3vh;
  left: 0; top: 0;
}

.hover { background-color: var(--mg); color: var(--bg); }
.boxed { border: var(--nbord) solid var(--fg); }
.boxed-top { border-top: var(--nbord) solid var(--fg); }
.boxed-left { border-left: var(--nbord) solid var(--fg); }
.boxed-right { border-right: var(--nbord) solid var(--fg); }
.boxed-bottom { border-bottom: var(--nbord) solid var(--fg); }
