:root {
  --fs: 16px;
  --onevh: 1vh;
  --oneunit: 1vh;
  --npad: var(--oneunit);
  --nmar: var(--oneunit);
  --nbord: 1px;
  --iconh: calc(var(--oneunit) * 12);
  --bg:white;
  --fg:black;
  --mg:gray;
  --ntxt:white;
}

html, body {
  background-color: var(--bg);
  color: var(--fg);
  min-height: -webkit-fill-available;
  box-sizing: border-box;
  margin: 0;
}

/*#score-div {
  margin: 1ch;
  border: 1px solid black;
}*/

#input-div {
  width: 100%;
  margin: 1ch;
}

.navbar {
  background-color: black;
  display: flex;
  justify-content: space-between;
  /*justify-content: flex-end;*/
  align-items: center;
}

.nav-title {
  padding: 1ch;
  color: var(--ntxt);
}

.nav-links a {
  color: var(--ntxt);
  padding: 1ch;
}

#nav-trail {
  text-decoration: underline;
  cursor: pointer;
}

#searchbar {
  width: 100%;
  height: 2vh;
  border: 1px solid black;
  border-radius: 2px;
}

#maintrail {
 display: flex;
 justify-content: space-between;
 /*flex-wrap: wrap;*/
 height: 62vh;
 flex-direction: row;
}

.pointer-image {
  z-index: 900 !important;
}

#varieties {
  border: 1px solid black;
  padding: 1ch;
  flex: 1 0 500px;
  display: flex;
  flex-direction: column;
}

#map-container {
  padding-bottom: 1ch;
  flex: 1 0 500px;
  position: relative;
}

#map {
  height: 100%; width: 100%;
  min-height: 25vh;
}

#legend {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 999;
  background-color: var(--bg);
  padding: var(--npad);
}

#id-grid {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  top: calc(100vh + 2vh); right: 0; left: 0;
}

.id-grid-image {
  max-width: 10vw;
  max-height: 10vw;
  width: 10vw;
  height: 10vw;
  object-fit: cover;
}

#opics {
  /*border: 1px solid black;*/
  padding: 1ch;
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  overflow-x: scroll;
  scrollbar-width: none;
  position: absolute;
  top: calc(100vh - 15vh - 2vh); right: 0; left: 0;
  height: 15vh;
}

#main-trail-info {
  max-height: 20vh;
}

#trail-info {
  display: flex;
  flex: 1 0 200px; 
  padding: 1ch;
  overflow-x: scroll;
  max-height: 7vh;
  scrollbar-width: none;
}

@media (max-width: 1200px) { :root { --fs: 24px; } }
@media (max-width: 760px) { :root { --fs: 30px; } }
@media (max-width: 1200px) {
  #maintrail { flex-direction: column; }
  #map-container { flex: 1 0 25vh; }
  #varieties {
    flex: 1 0 25vh;
    flex-direction: row;
  }
}

.observation-icon {
  /*max-width: 10vw; max-height: 10vh;*/
  margin: auto; padding: 1ch;
}

.centered {
  /*width: 100%; height: 100%;*/
  display: flex;
  align-items: center; justify-content: center;
}

.padded {
  padding: 1ch;
}

#results {
  display: flex; flex-wrap: wrap; align-items: center;
  justify-content: space-evenly;
}

#findermap {
  width: 50%;
  min-width: 300px;
  height: 25vh;
  flex: 1 0 500px;
}

#searchParams {
  width: 50%;
  min-width: 300px;
  display: flex; flex-wrap: wrap;
  align-content: start;
  flex: 1 0 500px;
}

textarea, input, div { font-size: 1rem; }
textarea, input { background-color: var(--bg); color: var(--fg); border-color: transparent; }

.inputrangewrapper {
  height: 2vh;
  background-color: var(--fg);
  width: 100%;
  margin-left: 1ch;
}

.inputrange {
  position: relative;
  width: calc(100% - 3vh);
  height: 100%;
}

.inputthumb {
  position: absolute;
  background-color: var(--bg);
  height: calc(2vh - 2px);
  border: var(--nbord) solid var(--fg);
  width: 3vh;
  left: 0; top: 0;
}

.selected { background-color: var(--fg); }
.hover { background-color: var(--mg); color: var(--bg); }
.boxed { border: var(--nbord) solid var(--fg); }
.boxed-top { border-top: var(--nbord) solid var(--fg); }
.boxed-left { border-left: var(--nbord) solid var(--fg); }
.boxed-right { border-right: var(--nbord) solid var(--fg); }
.boxed-bottom { border-bottom: var(--nbord) solid var(--fg); }

.modal {
  position: fixed;
  left: 0; right: 0; top: 0; bottom: 0;
  background-color: var(--bg);
  z-index: 99999;
}
